@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: #19a2ae;
  margin: 0;
  padding: 0;
}
body a:link,
body a:visited,
body a:hover {
  text-decoration: none;
  color: white;
}
body .bg {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}
body .bg .imgtop {
  position: absolute;
  top: -90%;
  left: -15%;
  width: 70%;
}
body .bg .imgbottom {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 70%;
  opacity: 0.3;
}
body .container {
  display: flex;
  height: 90vh;
  width: auto;
  justify-content: center;
  align-items: center;
}
body .container .card {
  position: absolute;
  background-color: white;
  border-radius: 1.125rem;
  width: 23.4375rem;
  height: 25rem;
  display: grid;
  grid-template-rows: 9.375rem 9.375rem 6.25rem;
  box-shadow: 32px 1px 64px -37px rgba(0, 0, 0, 0.52);
  z-index: 2;
}
body .container .card .top {
  grid-area: 1/1/2/2;
  background-image: url("../images/bg-pattern-card.svg");
  border-radius: 1.125rem 1.125rem 0 0;
}
body .container .card .box-user {
  display: grid;
  align-items: center;
  border-radius: 624.9375rem;
  position: absolute;
  padding: 0.25rem;
  background-color: white;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
body .container .card .box-user .user {
  border-radius: 624.9375rem;
}
body .container .card .details {
  grid-area: 2/1/3/2;
  text-align: center;
  border-bottom: 1px solid rgba(106, 111, 129, 0.3);
}
body .container .card .details .txt-info {
  padding-top: 5rem;
  margin: 0 auto;
}
body .container .card .details .txt-info .username {
  font-weight: 700;
  color: #2d3248;
  font-weight: 700;
}
body .container .card .details .txt-info .age,
body .container .card .details .txt-info .txt-city {
  color: #6a6f81;
  font-weight: 400;
  padding-top: 0.625rem;
}
body .container .card .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.8125rem;
  text-align: center;
}
body .container .card .social .numbers {
  font-weight: 700;
}
body .container .card .social .subtext {
  color: #6a6f81;
  font-weight: 400;
  font-size: 0.75rem;
}
@media (max-width: 23.4375rem) {
  .card {
    width: 20rem;
  }
}
footer {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}
